langchain==0.0.284
python-dotenv==1.0.0
streamlit==1.24.0
tiktoken==0.4.0
faiss-cpu==1.7.4
protobuf~=3.19.0
google-generativeai
pypdf
huggingface_hub
transformers
chromadb # for Chroma database
sentence-transformers==2.2.2 # for HuggingFaceInstructorEmbedding
InstructorEmbedding # for HuggingFaceInstructorEmbedding
accelerate
bitsandbytes
termcolor
torch